<div>
    <a type="button" data-toggle="collapse" data-target="#demo">Многоразовые подгузники</a>
    <div id="demo" class="collapse">
        <a href="#">- Набор трикотажных подгузников Disana</a>
        <a href="#">- Комплектующие к  наборам</a>
    </div>
</div>
<div>
    <a type="button" href="#">Одежда для детей</a>
</div>
<div>
    <a type="button" href="#">Одежда для недоношенных деток</a>
</div>
<div>
    <a type="button" data-toggle="collapse" data-target="#demo1">Нательная одежда для детей (Engel)</a>
    <div id="demo1" class="collapse">
        <a href="#">- Боди</a>
        <a href="#">- Ползунки и человечки</a>
        <a href="#">- Штанишки</a>
        <a href="#">- Боди</a>
        <a href="#">- Кофты</a>
        <a href="#">- Леггинсы</a>
        <a href="#">- Варежки</a>
        <a href="#">- Шапочки</a>
        <a href="#">- Тапочки и носочки</a>
    </div>
</div>
<div>
    <a type="button" href="#">Верхняя одажда для детей (Disana)</a>
</div>
<div>
    <a type="button" data-toggle="collapse" data-target="#demo2">Женское термобелье (Engel)</a>
    <div id="demo2" class="collapse">
        <a href="#">- кофты</a>
        <a href="#">- леггинсы</a>
        <a href="#">- майки</a>
        <a href="#">- футболки</a>
        <a href="#">- шортики</a>
    </div>
</div>
<div>
    <a type="button" data-toggle="collapse" data-target="#demo3">Мужское термобелье (Engel)</a>
    <div id="demo3" class="collapse">
        <a href="#">- кофты</a>
        <a href="#">- леггинсы</a>
        <a href="#">- майки</a>
        <a href="#">- футболки</a>
    </div>
</div>
<div>
    <a type="button" data-toggle="collapse" data-target="#demo4">Стирка Уборка (AlmaWin)</a>
    <div id="demo4" class="collapse">
        <a href="#">- для уборки</a>
        <a href="#">- для мытья посуды</a>
        <a href="#">- для стирки</a>
    </div>
</div>
<div>
    <a type="button" data-toggle="collapse" data-target="#demo5">Продукты питания (Безглютеновая продукция)</a>
    <div id="demo5" class="collapse">
        <a href="#">- Хлеб</a>
        <a href="#">- Печенье</a>
        <a href="#">- Сухие завтраки</a>
        <a href="#">- Макаронные изделия</a>
    </div>
</div>