<header>
    <div class="row visible-xs">
        <div class="col-xs-6">
            <a href="/"><h1 class="logo-sm"></h1></a>
            <h2 class="title">Органические товары</h2>
        </div>
        <div class="col-xs-6">
            <span class="telephone-icon"></span>
        </div>
    </div>
    <div class="row hidden-xs">
    <div class="col-sm-4 col-md-4">
        <a class="hidden-xs" href="/"><h1 class="logo"></h1></a>
        <a class="visible-xs" href="/"><h1 class="logo-sm"></h1></a>
        <h2 class="title">Органические товары</h2>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="contact-wrapper">
            <p><span class="telephone-icon"></span> (044) 229-05-02</p>
            <p><span class="telephone-icon"></span> (044) 229-05-03</p>
            <p><span class="life-icon"></span> (093) 306-08-18</p>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="search-wrapper">
            <input type="text" title="search" placeholder="Поиск">
            <span class="glyphicon glyphicon-search"></span>
        </div>
    </div>
    </div>
</header>
