<nav>
    <ul class="flex-row sm-column align-right sm-show">
        <li class="flex-item-4"><a href="#" class="toggle-nav"><span class="icon menu"></span></a></li>
    </ul>
    <ul class="flex-row sm-column space-around collapse-nav">
        <li><a class="nav-button" href="#">Главная</a></li>
        <li>
            <a class="nav-button toggle-dropdown" href="#">Каталог</a>
            <ul class="flex-row wrap sm-wrap sm-column align-left dropdown">
                <li class="flex-item-3 order-1"><a class="title" href="#">Многоразовые подгузники</a>
                    <ul class="flex-column space-around">
                        <li class="flex-item-1"><a href="#">- Набор трикотажных подгузников Disana</a></li>
                        <li class="flex-item-1"><a href="#">- Комплектующие к  наборам</a></li>
                    </ul>
                </li>
                <li class="flex-item-3 order-3"><a class="title" href="#">Одежда для детей</a></li>
                <li class="flex-item-3 order-4"><a class="title" href="#">Одежда для недоношенных деток</a></li>
                <li class="flex-item-3 order-2"><a class="title" href="#">Нательная одежда для детей (Engel)</a>
                    <ul class="flex-column space-around">
                        <li class="flex-item-1"><a href="#">- Боди</a></li>
                        <li class="flex-item-1"><a href="#">- Ползунки и человечки</a></li>
                        <li class="flex-item-1"><a href="#">- Штанишки</a></li>
                        <li class="flex-item-1"><a href="#">- Кофты</a></li>
                        <li class="flex-item-1"><a href="#">- Леггинсы</a></li>
                        <li class="flex-item-1"><a href="#">- Варежки</a></li>
                        <li class="flex-item-1"><a href="#">- Шапочки</a></li>
                        <li class="flex-item-1"><a href="#">- Тапочки и носочки</a></li>
                    </ul>
                </li>
                <li class="flex-item-3 order-5"><a class="title" href="#">Верхняя одажда для детей (Disana)</a></li>
                <li class="flex-item-3 order-7"><a class="title" href="#">Женское термобелье (Engel)</a>
                    <ul class="flex-column space-around">
                        <li class="flex-item-1"><a href="#">- Кофты</a></li>
                        <li class="flex-item-1"><a href="#">- Леггинсы</a></li>
                        <li class="flex-item-1"><a href="#">- Майки</a></li>
                        <li class="flex-item-1"><a href="#">- Футболки</a></li>
                        <li class="flex-item-1"><a href="#">- Шортики</a></li>
                    </ul>
                </li>
                <li class="flex-item-3 order-6"><a class="title" href="#">Мужское термобелье (Engel)</a>
                    <ul class="flex-column space-around">
                        <li class="flex-item-1"><a href="#">- Кофты</a></li>
                        <li class="flex-item-1"><a href="#">- Леггинсы</a></li>
                        <li class="flex-item-1"><a href="#">- Майки</a></li>
                        <li class="flex-item-1"><a href="#">- Футболки</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a class="nav-button" href="#">О нас</a></li>
        <li><a class="nav-button" href="#">Где купить</a></li>
        <li><a class="nav-button" href="#">Контакты</a></li>
    </ul>
    <div class="flex-row">
        <div style="border-bottom: 15px solid #fad280;" class="flex-item-4"></div>
        <div style="border-bottom: 15px solid #bfe79e;" class="flex-item-4"></div>
        <div style="border-bottom: 15px solid #fc9f66;" class="flex-item-4"></div>
        <div style="border-bottom: 15px solid #48d1cc;" class="flex-item-4"></div>
    </div>
    <div class="wrapper-download">
    </div>
</nav>