<nav class="navbar navbar-default">
    <div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon menu"></span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="hello">

            </div>
            <ul class="nav nav-pills nav-justified">
                <li><a class="active" href="/">Главная</a></li>
                <li class="dropdown hello">
                    <a onclick="hello()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>
                    <div class="dropdown-menu catalogue col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><a class="title" href="#">Многоразовые подгузники</a></li>
                                    <li><a href="#">- Набор трикотажных подгузников Disana</a></li>
                                    <li><a href="#">- Комплектующие к  наборам</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Одежда для детей</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Одежда для недоношенных деток</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Нательная одежда для детей (Engel)</a></li>
                                    <li><a href="#">- Боди</a></li>
                                    <li><a href="#">- Ползунки и человечки</a></li>
                                    <li><a href="#">- Штанишки</a></li>
                                    <li><a href="#">- Боди</a></li>
                                    <li><a href="#">- Кофты</a></li>
                                    <li><a href="#">- Леггинсы</a></li>
                                    <li><a href="#">- Варежки</a></li>
                                    <li><a href="#">- Шапочки</a></li>
                                    <li><a href="#">- Тапочки и носочки</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><a class="title" href="#">Верхняя одажда для детей (Disana)</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Женское термобелье (Engel)</a></li>
                                    <li><a href="#">- кофты</a></li>
                                    <li><a href="#">- леггинсы</a></li>
                                    <li><a href="#">- майки</a></li>
                                    <li><a href="#">- футболки</a></li>
                                    <li><a href="#">- шортики</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Мужское термобелье (Engel)</a></li>
                                    <li><a href="#">- кофты</a></li>
                                    <li><a href="#">- леггинсы</a></li>
                                    <li><a href="#">- майки</a></li>
                                    <li><a href="#">- футболки</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><a class="title" href="#">Стирка Уборка (AlmaWin)</a></li>
                                    <li><a href="#">- для уборки</a></li>
                                    <li><a href="#">- для мытья посуды</a></li>
                                    <li><a href="#">- для стирки</a></li>
                                </ul>
                                <ul>
                                    <li><a class="title" href="#">Продукты питания (Безглютеновая продукция)</a></li>
                                    <li><a href="#">- Хлеб</a></li>
                                    <li><a href="#">- Печенье</a></li>
                                    <li><a href="#">- Сухие завтраки</a></li>
                                    <li><a href="#">- Макаронные изделия</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="bottom-line"></span>
                    </div>
                </li><!--End of Catalogue dropdown menu-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О нас <span class="caret"></span></a>
                    <div class="dropdown-menu about">
                        <ul>
                            <li><a href="/about">О компании БК</a></li>
                            <li><a href="/cooperation">Сотрудничество</a></li>
                            <li><a href="/brands">Бренды</a></li>
                            <li><a href="/certificates">Знаки сертификации</a></li>
                            <li><a href="/articles">Статьи</a></li>
                        </ul>
                    </div>
                </li><!--End of About dropdown menu-->
                <li><a href="/map">Где купить</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>