.flex-row {
  display: flex;
  flex-direction: row;
  transition: all 5000ms ease;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row.justify {
  justify-content: center;
}
.flex-row.align-left,
.flex-column.align-left {
  justify-content: flex-start;
}
.flex-row.align-right,
.flex-column.align-right {
  justify-content: flex-end;
}
.flex-row.space-around,
.flex-column.space-around {
  justify-content: space-around;
}
.flex-row.justify,
.flex-column.justify{
  justify-content: center;
}
.flex-item-1 {
  flex: 1 1 100%;
  padding: 2%;
}
.flex-item-2 {
  flex: 1 1 (100%/2);
  padding: 2%;
}
.flex-item-3 {
  flex: 1 1 ( (100%/3)-(2%*2) );
  padding: 2%;
}
.flex-item-4{
  flex: 1 1 (100%/4);
}
.flex-item-5{
  flex: 1 1 (100%/5);
}
.order-1{
  order: 1;
}
.order-2{
  order: 2;
}
.order-3{
  order: 3;
}
.order-4{
  order: 4;
}
.order-5{
  order: 5;
}
.order-6{
  order: 6;
}
.order-7{
  order: 7;
}
.order-8{
  order: 8;
}
.order-9{
  order: 9;
}
.order-10{
  order: 10;
}
.flex-row.wrap{
  flex-wrap: wrap;
  align-content: stretch;
}
@media all and (max-width: 768px) {
  .flex-row.sm-wrap {
    flex-wrap: nowrap;
  }
  .flex-row.sm-column {
    flex-direction: column;
  }
}