footer {
  border-top: 15px solid #fad280;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333;
}

footer .title{
  margin-top: 30px;
  margin-left: 113px;
}

footer>div.row>div.col-xs-12.col-sm-12.col-md-12>p {
  text-align: center;
}

footer>div.row>div.col-xs-12.col-sm-12.col-md-12 {
  padding-top: 29px;
  padding-left: 21px;
}

footer>div.row>div.col-md-6>h3 {
  margin-left: 22px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: 20px;
  color: #333;
}

footer>div.row>div.col-md-6>input {
  margin-left: 23px;
  margin-top: 9px;
  padding: 9px;
  display: block;
  float: left;
  width: 280px;
  height: 36px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333;
  border: 1px solid #aaa;
}

footer>div.row>div.col-md-6>a{
  margin-top: 9px;
  margin-left: 9px;
  padding-top: 7px;
  display: block;
  float: left;
  height: 35px;
  width: 144px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  background: #079e9e;
  transition: background-color 200ms ease;
}

footer>div.row>div.col-md-6>a:hover, footer>div.row>div.col-md-6>a:focus {
  background: #48d1cc;
}

footer>div.row>div.col-md-6>a.facebook{
  float: right;
  background: url(../img/39x39_facebook.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;

}

footer>div.row>div.col-md-6>a.facebook:hover, footer>div.row>div.col-md-6>a.facebook:focus{
  background: url(../img/39x39_facebook_up.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

footer>div.row>div.col-md-6>a.pinterest{
  float: right;
  background: url(../img/39x39_pinterest_up.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;
}

footer>div.row>div.col-md-6>a.pinterest:hover, footer>div.row>div.col-md-6>a.pinterest:focus{
  background: url(../img/39x39_pinterest_normal.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

footer>div.row>div.col-md-6>a.twitter{
  float: right;
  background: url(../img/39x39_twitter_normal.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;
}

footer>div.row>div.col-md-6>a.twitter:hover, footer>div.row>div.col-md-6>a.twitter:focus{
  background: url(../img/39x39_twitter.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

footer>div.row>div.col-md-6>a.visible-xs {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
    display: block;
    float: left;
    height: 35px;
    width: 100%;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    background: #079e9e;
    transition: background-color 200ms ease;
}

footer>div.row>div.col-md-6>input.visible-xs {
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px;
  width: 100%;
  height: 36px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333;
  border: 1px solid #aaa;
}

footer>div.row>div.col-md-6>a.visible-xs:hover {
  background: #48d1cc;
}