footer {
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: 17px;
  color: $main-text;
  border-top: 15px solid $orange;
}
footer .icon {
  margin-left: 15px;
  float: right;
  width: 39px;
  height: 39px;
  border: none;
  background-size: contain;
  transition: background 200ms ease;
}
a.facebook {
  background: url(../img/39x39_facebook.png);
}
a.facebook:hover,
a.facebook:focus {
  background: url(../img/39x39_facebook_up.png);
}
a.pinterest {
  background: url(../img/39x39_pinterest_up.png);
}
a.pinterest:hover,
a.pinterest:focus {
  background: url(../img/39x39_pinterest_normal.png);
}
a.twitter {
  background: url(../img/39x39_twitter_normal.png);
}
a.twitter:hover,
a.twitter:focus {
  background: url(../img/39x39_twitter.png);
}

footer>div.row.visible-xs a.subscribe.button,
footer>div.row.hidden-xs a.subscribe.button {
  transition: background-color 200ms ease;
}
footer>div.row.visible-xs a.subscribe.button:hover,
footer>div.row.hidden-xs a.subscribe.button:hover{
  background-color: $focus;
}
footer>div.row.visible-xs input,
footer>div.row.hidden-xs input{
  transition: border 200ms ease;
}
footer>div.row.visible-xs input:hover,
footer>div.row.hidden-xs input:hover{
  border: 1px solid $focus;
}
footer>div.row.visible-xs {
  padding-left: 15px;
  padding-right: 15px;
}
footer>div.row.visible-xs a.facebook,
footer>div.row.visible-xs a.twitter,
footer>div.row.visible-xs a.pinterest {
  margin-top: 40px;
}
footer>div.row.visible-xs h3.subscribe.title {
  margin-top: 12px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: $text-size-header;
  color: $main-text;
}
footer input {
  margin-top: 10px;
  padding: 9px;
  display: block;
  height: 35px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: $text-size-main;
  color: $main-text;
  border: 1px solid #aaa;
}
footer>div.row.visible-xs input {
  width: 100%;
}
footer>div.row.visible-xs a.subscribe.button {
  margin-top: 20px;
  padding-top: 7px;
  display: block;
  width: 100%;
  height: 35px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: $text-size-main;
  color: #fff;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  background: #079e9e;
  transition: background-color 200ms ease;
}
footer>div.row.visible-xs p {
  margin-top: 36px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: $text-size-main;
  color: $header-text;
}
footer div.row.hidden-xs {
  padding-right: 30px;
  padding-left: 30px;
}
footer>div.row.hidden-xs h3.subscribe.title {
  margin-top: 35px;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: $text-size-header;
  color: $main-text;
}
footer>div.row.hidden-xs input {
  width: 55%;
  float: left;
}
footer>div.row.hidden-xs a.subscribe.button {
  margin-top: 10px;
  padding-top: 7px;
  display: block;
  float: right;
  width: 35%;
  height: 35px;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  background: #079e9e;
  transition: background-color 200ms ease;
}
footer>div.row.hidden-xs a.twitter {
  margin-top: 75px;
}
footer>div.row.hidden-xs a.facebook {
  margin-top: 75px;
}
footer>div.row.hidden-xs a.pinterest {
  margin-top: 75px;
}
footer>div.row.hidden-xs p {
  margin-top: 34px;
  text-align: center;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: $text-size-main;
  color: $header-text;
}

@media screen and (max-width: 480px) {
  ._column {
    width: 100%;
  }
}