header div.row {
  margin: 0;
  width: 100%;
  max-width: 1024px;
  background-color: $header-color;
}

header div.row.visible-xs h2.title{
  margin-left:0;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  color: $header-text;
  margin-top: 30px;
  font-size: 15px;
}
div.col-xs-6>span.telephone-icon {
  margin-top: 40px;
  float: right;
}

header p {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #666;
}

header.row p{
  margin: 0;
}

header .logo {
    margin-top: 7px;
    margin-left: -30px;
    width: 253px;
    height: 51px;
    position: relative;
    left: 61px;
    top: 19px;
    z-index: 84;
    background: url(../img/logo_1024.png) no-repeat;
    background-size: contain;
}

header .logo-xs {

  margin-top: 7px;
    margin-left: -30px;
    width: 98px;
    height: 21px;
    position: relative;
    left: 61px;
    top: 19px;
    z-index: 84;
    background: url(../img/logo-head-xs.png) no-repeat;
    background-size: contain;

}
header>div.row.visible-xs input:hover,
header>div.row.hidden-xs input:hover{
  transition: border 200ms ease;
}

header>div.row.visible-xs input:hover,
header>div.row.hidden-xs input:hover{
  border: 1px solid $focus;
}

header .logo-sm {
  margin-top: 7px;
    width: 178px;
    height: 36px;
    position: relative;
    top: 19px;
    z-index: 84;
    background: url(../img/logo-head-sm.png) no-repeat;
    background-size: contain;
}


header .title {
    margin-top: 30px;
    margin-left: 47px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #666;
}

.contact-wrapper {
  padding-top: 37px;
  padding-left: 50px;
}

.search-wrapper {
  padding-top: 66px;
  padding-left: 25px;
  input {
    padding: 7px;
    width: 90%;
    height: 35px;
    float: left;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 17px;
    color: #666;
    border: 1px solid #aaa;
  }
}

.search-wrapper span.glyphicon.glyphicon-search{
  font-size: 19px;
  position: relative;
  right: 33px;
  top: 6px;
  color: #666;
}

div.search-wrapper>span.glyphicon.glyphicon-search {
  position: relative;
  top: 3px;
  right: 25px;
}