nav {
    margin: 0;
    padding: 20px 0;
    height: 70px;
    background-color: #f5f5f5;
}
nav>ul>li {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
    text-align: left;
    padding-left: 30px;
}
nav .nav-justified>li>a {
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #333;
    list-style: none;
    text-transform: uppercase;
    transition: color 200ms ease;
}
nav .nav-justified>li> a.active,
nav .nav-justified>li> a:hover,
nav .nav-justified>li> a:focus {
    color: #079e9e;
    text-decoration: none;
}
.navbar-default {
    background-color: $header-color;
    border-color: $header-color;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.nav>li>a:focus,
.nav>li>a:hover,
.nav>li>a:active {
    background-color: $header-color;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: $header-color
}
.navbar-collapse {
    width: 100%;
    position: absolute;
    background-color: $header-color;
    z-index: 9999;
}
.nav-justified>li>a {
    padding: 0;
}
.navbar.navbar-default {
    padding-top: 0;
    height: 60px;
}