.breadcrumb {
  margin-bottom: 0 !important;
  padding-top: 20px;
  padding-left: 30px;
  background-color: inherit;
}

.breadcrumb>li+li:before {
  font-size: 12px;
  padding: 0 5px;
  color: #333;
  content: "/\00a0";
}

.breadcrumb>li.active {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 12px;
  color: #079e9e;
}

.breadcrumb>li>a {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 12px;
  color: #333;
}

section {
  padding-left:15px;
  padding-right:15px;
}

section>div.row:last-child {
  padding-bottom: 30px;
}

section>div.row img{
  margin-top:30px;
  margin-left: 30px;
}

section>div.row a>img{
  display: block;
  margin: 0 auto;
}

section>div.row p {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333;
  text-align: justify;
}

section>div.row p:hover{
  text-decoration: underline;
  cursor: pointer;
}

section>div.row p.title {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #079e9e;
  text-decoration: none;
  cursor: default;
}

section>div.row p.title.main {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #079e9e;
  text-transform: uppercase;
  text-decoration: none;
  cursor: default;
}

section>div.row>div.col-md-3>p {
  text-align: right;
}

section>div.row>div.col-md-3>div {
  margin-top: 20px;
}

section>div.row>div.col-md-3>div a {
  display: block;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: color 200ms ease;
}

section>div.row>div.col-md-3>div>div {
  padding-top: 10px;

}

section>div.row>div.col-md-3>div>div a{
  margin-top: 10px;

}

section>div.row>div.col-md-3>div a[type='button'] {
  font-size: 17px;

}

section>div.row>div.col-md-3>div a[type='button']:hover, section>div.row>div.col-md-3>div a[type='button']:focus{
  color: $focus;
}

section>div.row>div.col-md-3>div {
  margin-left: 30px;
}

section>div.row>div div>p.name, section>div.row>div div>p.price {
  color: #666;
  text-align: center;
}

.product-card:hover {
  transition: box-shadow 200ms ease;
}

.product-card:hover {
  box-shadow: black 0 0 17px -4px;
}


a.carousel-control.left, a.carousel-control.right {
  background-image: none;
}

section a.facebook{
  display: block;
  float: left;
  background: url(../img/39x39_facebook.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;

}

section a.facebook:hover, footer>div.row>div.col-md-6>a.facebook:focus{
  background: url(../img/39x39_facebook_up.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

section a.pinterest{
  display: block;
  float: left;
  background: url(../img/39x39_pinterest_up.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;

}

section a.pinterest:hover, footer>div.row>div.col-md-6>a.pinterest:focus{
  background: url(../img/39x39_pinterest_normal.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

section a.twitter{
  display: block;
  float: left;
  background: url(../img/39x39_twitter_normal.png);
  background-size: contain;
  width: 39px;
  height: 39px;
  border: none;
  transition: background 200ms ease;

}

section a.twitter:hover, footer>div.row>div.col-md-6>a.twitter:focus{
  background: url(../img/39x39_twitter.png);
  background-size: contain;
  width: 39px;
  height: 39px;
}

#myCarousel {
  top: 20px;
}