{% extends 'care/index.html' %}
{% block content %}
    <ol class="breadcrumb">
            <li><a href="index.html">Главная</a></li>
            <li class="active">Бренды</li>
        </ol>
        {% for article in article_list %}
            <div class="row">
                <div class="col-md-3">
                    {% if article.img %}
                        <a href=""><img src="http://localhost:8000/map/{{ article.image }}" alt=""></a>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div>
                        <p class="title">{{ article.title }}</p>
                        <p>{{ article.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}