<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>БебиКеа - Главная</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header class="row">
    <div class="col-md-4">
        <a href="index.html"><h1 class="logo"></h1></a>
        <h2 class="title">Органические товары</h2>
    </div>
    <div class="col-md-4">
        <div class="contact-wrapper">
            <p><span class="telephone-icon"></span> (044) 229-05-02</p>
            <p><span class="telephone-icon"></span> (044) 229-05-03</p>
            <p><span class="life-icon"></span> (093) 306-08-18</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="search-wrapper">
            <input type="text" title="search" placeholder="Поиск">
            <span class="glyphicon glyphicon-search"></span>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>
            <div class="dropdown-menu catalogue">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a class="title" href="#">Многоразовые подгузники</a></li>
                            <li><a href="#">- Набор трикотажных подгузников Disana</a></li>
                            <li><a href="#">- Комплектующие к  наборам</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Одежда для детей</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Одежда для недоношенных деток</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Нательная одежда для детей (Engel)</a></li>
                            <li><a href="#">- Боди</a></li>
                            <li><a href="#">- Ползунки и человечки</a></li>
                            <li><a href="#">- Штанишки</a></li>
                            <li><a href="#">- Боди</a></li>
                            <li><a href="#">- Кофты</a></li>
                            <li><a href="#">- Леггинсы</a></li>
                            <li><a href="#">- Варежки</a></li>
                            <li><a href="#">- Шапочки</a></li>
                            <li><a href="#">- Тапочки и носочки</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a class="title" href="#">Верхняя одажда для детей (Disana)</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Женское термобелье (Engel)</a></li>
                            <li><a href="#">- кофты</a></li>
                            <li><a href="#">- леггинсы</a></li>
                            <li><a href="#">- майки</a></li>
                            <li><a href="#">- футболки</a></li>
                            <li><a href="#">- шортики</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Мужское термобелье (Engel)</a></li>
                            <li><a href="#">- кофты</a></li>
                            <li><a href="#">- леггинсы</a></li>
                            <li><a href="#">- майки</a></li>
                            <li><a href="#">- футболки</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a class="title" href="#">Стирка Уборка (AlmaWin)</a></li>
                            <li><a href="#">- для уборки</a></li>
                            <li><a href="#">- для мытья посуды</a></li>
                            <li><a href="#">- для стирки</a></li>
                        </ul>
                        <ul>
                            <li><a class="title" href="#">Продукты питания (Безглютеновая продукция)</a></li>
                            <li><a href="#">- Хлеб</a></li>
                            <li><a href="#">- Печенье</a></li>
                            <li><a href="#">- Сухие завтраки</a></li>
                            <li><a href="#">- Макаронные изделия</a></li>
                        </ul>
                    </div>
                </div>
                <span class="bottom-line"></span>
            </div>
        </li><!--End of Catalogue dropdown menu-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">О нас <span class="caret"></span></a>
            <div class="dropdown-menu about">
                <ul>
                    <li><a href="about.html">О компании БК</a></li>
                    <li><a href="partnership.html">Сотрудничество</a></li>
                    <li><a href="brands.html">Бренды</a></li>
                    <li><a href="certificates.html">Знаки сертификации</a></li>
                    <li><a href="articles.html">Статьи</a></li>
                </ul>
            </div>
        </li><!--End of About dropdown menu-->
        <li><a href="map.html">Где купить</a></li>
        <li><a href="contacts.html">Контакты</a></li>
    </ul>
    <span class="nav-bottom-line"></span>
</nav>
<section>
    <ol class="breadcrumb">
        <li><a href="catalogue.html">Каталог</a></li>
        <li><a href="index.html">Нательная одежда для детей (Engel)</a></li>
        <li class="active">Комбинезон с капюшоном</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <p class="title main">Комбинезон с капюшоном шерсть Disana</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo">Многоразовые подгузники</a>
                <div id="demo" class="collapse">
                    <a href="#">- Набор трикотажных подгузников Disana</a>
                    <a href="#">- Комплектующие к  наборам</a>
                </div>
            </div>
            <div>
                <a type="button" href="#">Одежда для детей</a>
            </div>
            <div>
                <a type="button" href="#">Одежда для недоношенных деток</a>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo1">Нательная одежда для детей (Engel)</a>
                <div id="demo1" class="collapse">
                    <a href="#">- Боди</a>
                    <a href="#">- Ползунки и человечки</a>
                    <a href="#">- Штанишки</a>
                    <a href="#">- Боди</a>
                    <a href="#">- Кофты</a>
                    <a href="#">- Леггинсы</a>
                    <a href="#">- Варежки</a>
                    <a href="#">- Шапочки</a>
                    <a href="#">- Тапочки и носочки</a>
                </div>
            </div>
            <div>
                <a type="button" href="#">Верхняя одажда для детей (Disana)</a>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo2">Женское термобелье (Engel)</a>
                <div id="demo2" class="collapse">
                    <a href="#">- кофты</a>
                    <a href="#">- леггинсы</a>
                    <a href="#">- майки</a>
                    <a href="#">- футболки</a>
                    <a href="#">- шортики</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo3">Мужское термобелье (Engel)</a>
                <div id="demo3" class="collapse">
                    <a href="#">- кофты</a>
                    <a href="#">- леггинсы</a>
                    <a href="#">- майки</a>
                    <a href="#">- футболки</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo4">Стирка Уборка (AlmaWin)</a>
                <div id="demo4" class="collapse">
                    <a href="#">- для уборки</a>
                    <a href="#">- для мытья посуды</a>
                    <a href="#">- для стирки</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo5">Продукты питания (Безглютеновая продукция)</a>
                <div id="demo5" class="collapse">
                    <a href="#">- Хлеб</a>
                    <a href="#">- Печенье</a>
                    <a href="#">- Сухие завтраки</a>
                    <a href="#">- Макаронные изделия</a>
                </div>
            </div>
            </div>
        <div class="col-md-9">
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <a href=""><img src="../img/product-1-lg.png" alt=""></a>
                    </div>
                    <div class="col-md-6">
                        <p>800 ГРН</p>
                        <p>Размер/вес (фильтр)</p>
                        <p>Знак сертификации:</p>
                        <a href=""><img src="../img/logo-organic-sm.png" alt=""></a>
                        <a href=""><img src="../img/logo-lohas-sm.png" alt=""></a>
                        <div>
                            <a href="" class="facebook"></a>
                            <a href="" class="pinterest"></a>
                            <a href="" class="twitter"></a>
                        </div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/product-1-xs.png" alt="Chania">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="../img/product-2-xs.png" alt="Chania">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/product-1-xs.png" alt="Chania">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="../img/product-2-xs.png" alt="Chania">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <p>В составе комбинезона теплая, мягкая и легкая мериносовая шерсть. В натуральном комбинезоне Вашему малышу будет комфортно как при активных играх, так и лежа в коляске. Уникальность шерсти состоит в том, что при любой погоде в ней будет не холодно, но и не жарко. В комбинезоне есть дополнительная хлопковая подкладка и капюшон. Надежные швы и продуманная конструкция комбинезона говорят о высоком качестве изделия, которое Вы сможете легко проверить и оставить комбинезон в приданое.

                            Пуговицы в комбенизоне сделаны из натуральных материалов. Стопы и ладошки можно дополнительно утеплить специальными манжетами.

                            Теплая и незаменимая вещь для прогулок во время прохладной погоды. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <span class="top-line"></span>
    <div class="row">
        <div class="col-md-6">
            <h3>Подписаться на обновления</h3>
            <input type="email" title="followers">
            <a href="" onclick="follow(this)">Подписаться</a>
        </div>
        <div class="col-md-6">
            <a href="" class="facebook"></a>
            <a href="" class="pinterest"></a>
            <a href="" class="twitter"></a>
        </div>
    </div>
    <p>© 2011 ООО «Babycare» — интернет магазин детской одежды</p>
</footer>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>

</body>
</html>