{% extends 'care/index.html' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="catalogue.html">Каталог</a></li>
        <li><a href="index.html">Нательная одежда для детей (Engel)</a></li>
        <li class="active">Комбинезон с капюшоном</li>
    </ol>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <p class="title main">Комбинезон с капюшоном шерсть Disana</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo">Многоразовые подгузники</a>
                <div id="demo" class="collapse">
                    <a href="#">- Набор трикотажных подгузников Disana</a>
                    <a href="#">- Комплектующие к  наборам</a>
                </div>
            </div>
            <div>
                <a type="button" href="#">Одежда для детей</a>
            </div>
            <div>
                <a type="button" href="#">Одежда для недоношенных деток</a>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo1">Нательная одежда для детей (Engel)</a>
                <div id="demo1" class="collapse">
                    <a href="#">- Боди</a>
                    <a href="#">- Ползунки и человечки</a>
                    <a href="#">- Штанишки</a>
                    <a href="#">- Боди</a>
                    <a href="#">- Кофты</a>
                    <a href="#">- Леггинсы</a>
                    <a href="#">- Варежки</a>
                    <a href="#">- Шапочки</a>
                    <a href="#">- Тапочки и носочки</a>
                </div>
            </div>
            <div>
                <a type="button" href="#">Верхняя одажда для детей (Disana)</a>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo2">Женское термобелье (Engel)</a>
                <div id="demo2" class="collapse">
                    <a href="#">- кофты</a>
                    <a href="#">- леггинсы</a>
                    <a href="#">- майки</a>
                    <a href="#">- футболки</a>
                    <a href="#">- шортики</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo3">Мужское термобелье (Engel)</a>
                <div id="demo3" class="collapse">
                    <a href="#">- кофты</a>
                    <a href="#">- леггинсы</a>
                    <a href="#">- майки</a>
                    <a href="#">- футболки</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo4">Стирка Уборка (AlmaWin)</a>
                <div id="demo4" class="collapse">
                    <a href="#">- для уборки</a>
                    <a href="#">- для мытья посуды</a>
                    <a href="#">- для стирки</a>
                </div>
            </div>
            <div>
                <a type="button" data-toggle="collapse" data-target="#demo5">Продукты питания (Безглютеновая продукция)</a>
                <div id="demo5" class="collapse">
                    <a href="#">- Хлеб</a>
                    <a href="#">- Печенье</a>
                    <a href="#">- Сухие завтраки</a>
                    <a href="#">- Макаронные изделия</a>
                </div>
            </div>
            </div>
        <div class="col-md-9">
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <a href=""><img src="http://localhost:8000/media/product-1-lg.png" alt=""></a>
                    </div>
                    <div class="col-md-6">
                        <p>800 ГРН</p>
                        <p>Размер/вес (фильтр)</p>
                        <p>Знак сертификации:</p>
                        <a href=""><img src="http://localhost:8000/media/logo-organic-sm.png" alt=""></a>
                        <a href=""><img src="http://localhost:8000/media/logo-lohas-sm.png" alt=""></a>
                        <div>
                            <a href="" class="facebook"></a>
                            <a href="" class="pinterest"></a>
                            <a href="" class="twitter"></a>
                        </div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="http://localhost:8000/media/product-1-xs.png" alt="Chania">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="http://localhost:8000/media/product-2-xs.png" alt="Chania">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="http://localhost:8000/media/product-1-xs.png" alt="Chania">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="http://localhost:8000/media/product-2-xs.png" alt="Chania">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <p>В составе комбинезона теплая, мягкая и легкая мериносовая шерсть. В натуральном комбинезоне Вашему малышу будет комфортно как при активных играх, так и лежа в коляске. Уникальность шерсти состоит в том, что при любой погоде в ней будет не холодно, но и не жарко. В комбинезоне есть дополнительная хлопковая подкладка и капюшон. Надежные швы и продуманная конструкция комбинезона говорят о высоком качестве изделия, которое Вы сможете легко проверить и оставить комбинезон в приданое.

                            Пуговицы в комбенизоне сделаны из натуральных материалов. Стопы и ладошки можно дополнительно утеплить специальными манжетами.

                            Теплая и незаменимая вещь для прогулок во время прохладной погоды. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



